.hero {
    margin-top: 64px;

    .hero__sub-text {
        color: var(--green);
        font-size: 16px;
        margin-bottom: var(--spacing-m);
    }

    .hero__header {
        color: var(--white);
        font-size: 80px;
        margin-bottom: 10px;
        margin-top: 0px;
    }

    .hero__sub-header {
        color: var(--light-slate);
        font-size: 60px;
        margin: 0;
        margin-bottom: 10px;
    }

    .hero__description {
        color: var(--slate);
        font-size: 20px;
    }
}